name: QScanner CI/CD Demo

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  qscanner:
    runs-on: ubuntu-latest

    env:
      QUALYS_ACCESS_TOKEN: ${{ secrets.QUALYS_ACCESS_TOKEN }}
      IMAGE_NAME: mattatqualys/httpbin

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install GitHub CLI
      run: |
        sudo apt update
        sudo apt install -y gh

    - name: Authenticate GitHub CLI
      run: |
        echo "${{ secrets.GH_PAT }}" | gh auth login --with-token

    - name: Download QScanner
      run: |
        gh release download v4.8.0-442-dev -R mattatqualys/qscanner-binary
        chmod +x qscanner

    - name: Run QScanner repo scan
      if: github.ref == 'refs/heads/master'
      run: |
        ./qscanner --pod UK1 repo https://github.com/mattatqualys/httpbin.git --report-format sarif --scan-types os,secret,sca,fileinsight
        cp /home/runner/qualys/qscanner/data/*-Report.sarif.json ./qscanner-ScanResult.sarif

    - name: Build Docker image
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        # Extract tag name from ref
        TAG_NAME=${GITHUB_REF#refs/tags/}
        docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$TAG_NAME .

    - name: Scan Docker image
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        docker images
        ./qscanner --pod UK1 image $IMAGE_NAME:latest --report-format sarif
        cp /home/runner/qualys/qscanner/data/*-Report.sarif.json ./qscanner-DockerScan.sarif

    - name: Log in to Docker Hub
      if: startsWith(github.ref, 'refs/tags/v')
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker image to Docker Hub
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        # Push both latest and tag
        TAG_NAME=${GITHUB_REF#refs/tags/}
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:$TAG_NAME

    - name: Upload SARIF for repo scan
      if: github.ref == 'refs/heads/master'
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ./qscanner-ScanResult.sarif

    - name: Upload SARIF for Docker scan
      if: startsWith(github.ref, 'refs/tags/v')
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ./qscanner-DockerScan.sarif

