name: QScanner CI/CD Demo

on:
  push:
    branches:
      - master
    tags:
      - 'v*'   # triggers for tags like v1.0.0
  workflow_dispatch:

jobs:
  qscanner:
    runs-on: ubuntu-latest

    env:
      QUALYS_ACCESS_TOKEN: ${{ secrets.QUALYS_ACCESS_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install GitHub CLI
      run: |
        sudo apt update
        sudo apt install -y gh

    - name: Authenticate GitHub CLI
      run: |
        echo "${{ secrets.GH_PAT }}" | gh auth login --with-token

    - name: Download QScanner
      run: |
        gh release download v4.8.0-442-dev -R mattatqualys/qscanner-binary
        chmod +x qscanner

    - name: Run QScanner repo scan
      if: github.ref == 'refs/heads/master'
      run: |
        ./qscanner --pod UK1 repo https://github.com/mattatqualys/httpbin.git --report-format sarif

    - name: Build Docker image
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        docker build -t httpbin-demo:latest .

    - name: Scan Docker image
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        ./qscanner --pod UK1 image httpbin-demo:latest --report-format sarif

    - name: Upload SARIF to GitHub
      if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: ./qscanner-ScanResult.sarif

